<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Q&A
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: darkslategrey">

  <ion-card *ngFor="let item of questionList$ | async">
    <ion-card-content>
      <h2 style="font-weight: 500;">
        Q: {{item.question}}
      </h2>

      <h6 style="color: grey;">
        Hint: {{item.hint}}
      </h6>

      <ng-container *ngFor="let item2 of answerList$ | async; let i=index">
      <h3 *ngIf="item.qid==item2.qid" style="color: blue; font-weight: 500;">
        Ans: {{item2.answer}} 
        <h6>
          <button class="but" ion-button icon-only danger (click)="removeQ(item); removeAns(item2)">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button class="but" ion-button icon-only color="tert" (click)="enterUpdatePage(item)">
            <ion-icon name="create"></ion-icon>
          </button>
        </h6>
      </h3>
      <!-- <div *ngIf="i<1">
        <button ion-button icon-only danger (click)="removeQ(item); removeAns(item2)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button ion-button color="tert" (click)="enterUpdatePage(item)">
          <ion-icon name="create"></ion-icon>
        </button>
      </div> -->
      
      </ng-container>
  

    </ion-card-content>

    
  </ion-card>
  
  <!-- style="background-color: lightyellow;" -->

  <!--inside create button::::  navPush="UpdatePage" [navParams]="{item: item}" -->
  <!-- <ion-fab bottom right style="bottom: 30px; right: 30px;">
    <button ion-fab (click)="enterQuestionPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->

  <ion-fab right bottom style="position: absolute; bottom: 30px; right: 30px;">
    <!-- <button ion-fab color="primary"><ion-icon name="arrow-dropleft"></ion-icon></button> -->
    <!-- <ion-fab-list side="left"> -->
      <button ion-fab (click)="enterQuestionPage()" color="tert">
        <ion-icon name="add"></ion-icon>
      </button>
    <!-- </ion-fab-list> -->
  </ion-fab>


</ion-content>
