page-home {

}


ion-card{
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background-image: linear-gradient(to right, rgba(255,0,0,0.2), rgba(255,0,0,0.8)) !important;
    // width: 512px !important;
}

.but{
    left: 650px;
}

@media only screen and (max-width: 812px) {
    .but{
        left: 100px;
    }
}